<h3>
  <a [title]="product.name + ' details'">
    {{ product.name }}
  </a>
</h3>
<img src="{{product.image_url}}">
<p *ngIf="product.description">
  Description: {{ product.description }}
</p>
<p>
  price: {{ product.price }} tenge
</p>
<p>
  rating: {{ product.rating }} /10
</p>
<p>
  Like: {{ product.likes }}

</p>
<button type="button" (click)="addLike(product)">
  Like
</button>
<div>
<button type="button" (click)="share(product.prod_link)">
  Share
</button>

<button type="button" (click)="kaspiStore(product.prod_link)">
  Go to store
</button>
<button type="button" (click)="remove(product.id)">
  Remove
</button>
</div>
